.marca {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 50vw;
    left: 50%;
    top: 7%;
}

.marcaTransparente {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 55vw;
    left: 45%;
    top: 4%;
}

.containerLogin {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.containerLogin-displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.containerLogin__formLogin {
    width: 491px;
    height: 506px;
    background-color: var(--default-color);
    filter: drop-shadow(0px 4px 20px rgba(65, 57, 70, 0.25));
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.containerLogin__imageLogin {
    width: 491px;
    height: 506px;
    background: linear-gradient(180deg, var(--secundary-color) 0%, var(--primary-color) 100%);
    filter: drop-shadow(0px 4px 20px rgba(65, 57, 70, 0.25));
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}



@media (max-width: 600px) {
    .marca, .marcaTransparente {
        display: none;
    }
    .containerLogin__formLogin {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .containerLogin__imageLogin {
        display: none;
    }
    #costureiraLoginImagem {
        display: none;
    }
}