.modal__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #413946;
    filter: opacity(80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formularioMinhaPublicacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
    gap: 25px;
    padding-bottom: 50px;
    z-index: 1000;
}

.setor_01{
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    border-radius: 25px ;
    gap: 30px;
}

.setor01_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    width: 100%;
}

.setaVoltar{
    width: 50px;
    height: 50px;
}


.setor01_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45vh;
}

.thumb_item{
    width: 15vh;
    height: 10vh;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 7px 7px #A89BFF;
}

.lista_imagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.setor01_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    gap: 10vh;
}

.setor_02{
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    border-radius: 25px ;
    gap: 2vh;
}

.setor02_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    gap: 40vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    padding-left: 20px;
}

.perfil_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.foto_perfil{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid var(--secundary-color);
}

.nome_perfil{
    color: black;
    font-size: 1.5rem;
}


.setor02_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_descricao{
    width: 89%;
    height: auto;
}

.titulo{
    font-size: xx-large;
    color: black;
}

.descricao{
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.3rem;
    padding-left: 30px;
    color: black;
}

.lista_comentarios{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 89%;
    height: 43vh;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    
}

.card_comentario{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 95%;
    height: auto;
    gap: 20px;
}

.container_textos{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
}

.texto_comentario{
    color: black;
}

.responder{
    color: gray;
    cursor: pointer;
}
.nome{
    color: black;
    font-size: 1.5rem;
}


.setor02_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: 3vh;
}