.modal__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #413946;
    filter: opacity(80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formularioMinhaPublicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
    gap: 25px;
    padding-bottom: 50px;
    z-index: 1000;
}

.containerEditarPublicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
    gap: 25px;
    padding-bottom: 50px;
    z-index: 1000;
}

.containerEditarPublicacao__containerImagens {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
    gap: 30px;
}

.setor_01 {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
    gap: 30px;
}

.containerImagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    width: 100%;
    height: 100%;
}

.setor01_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    width: 100%;
}

.setaVoltar {
    width: 50px;
    height: 50px;
    background-color: #413946;
    cursor: pointer;
}

.setor01_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45vh;
}


.setor01_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    gap: 10vh;
}


.containerEditarPublicacao__containerFormulario {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
    gap: 2vh;
}

.containerEditarTags {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    color: var(--contrast-color);
}

.containerFormulario {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.containerTagsEditarPublicacao {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid #C98FEC;
    background: var(--Principal-2, #FCF6FF);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
}

.tagsListEditarPublicacao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow-y: scroll;
}

.setor_02 {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
    gap: 2vh;
}

.setor02_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    gap: 40vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    padding-left: 20px;
}

.perfil_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.foto_perfil {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid var(--secundary-color);
}

.nome_perfil {
    color: black;
    font-size: 1.5rem;
}


.setor02_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_descricao {
    width: 89%;
    height: auto;
}

.titulo {
    font-size: xx-large;
    color: black;
}

.descricao {
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.3rem;
    padding-left: 30px;
    color: black;
}

.lista_comentarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 89%;
    height: 43vh;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;

}

.card_comentario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 95%;
    height: auto;
    gap: 20px;
}

.container_textos {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
}

.texto_comentario {
    color: black;
}

.responder {
    color: gray;
    cursor: pointer;
}

.nome {
    color: black;
    font-size: 1.5rem;
}


.setor02_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: 3vh;
}



.modalOpcoesPublicacao {
    background-color: var(--default-color);
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.25);
    border-radius: 20px;

}

.textoExcluirPublicacao {
    color: var(--contrast-color);
}

.opcaoExcluir {
    width: 100%;
    padding: 16px;
    cursor: pointer;
}

.opcaoExcluir:hover {
    background-color: #c2c2c2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.textoEditarPublicacao {
    color: var(--contrast-color);
}

.opcaoEditar {
    width: 100%;
    padding: 16px;
    cursor: pointer;
}

.opcaoEditar:hover {
    background-color: #c2c2c2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.iconeMenuPublicacao {
    cursor: pointer;
}

.carregandoPublicacao {
    color: var(--contrast-color);
}