.modalBackgroundMeuPerfil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    filter: opacity(80%);
    background-color: #413946;
}

.formularioPublicacaoMeuPerfil {
    position: fixed;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    gap: 25px;
    z-index: 1200;
}

.formularioPublicacaoMeuPerfil__containerImagensPublicacaoMeuPerfil {
    width: 50%;
    height: 100%;
    padding: 24px;
    border-radius: 30px;
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerEditarPublicacaoMeuPerfil {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    top: 10%;
    left: 10%;
    gap: 24px;
    z-index: 1200;
}

.containerImagensPublicacaoMeuPerfil__itemVoltar {
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.setaVoltarPublicacaoMeuPerfil {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.containerImagensPublicacaoMeuPerfil__itemVoltar:hover {
    background-color: #f7e7ff;
}

.formularioPublicacaoMeuPerfil__containerDadosPublicacaoMeuPerfil {
    background-color: var(--default-color);
    width: 50%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containerEditarPublicacao__containerImagens {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
    gap: 30px;
}

.containerDadosPublicacaoMeuPerfil__cardUsuarioPublicacaoMeuPerfil {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardUsuarioPublicacaoMeuPerfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 80%;
    height: 100%;
    background-color: var(--default-color);
    box-shadow: 0px 0px 20px 0px rgba(65, 57, 70, 0.10);
    border-radius: 20px;
}

.cardUsuarioPublicacaoMeuPerfil__containerDadosUsuarioPublicacao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.containerImagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    width: 100%;
    height: 100%;
}

.fotoUsuarioPublicacaoMeuPerfil {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    box-shadow: 4px 3px #A89BFF;
    object-fit: cover;
}

.nomeUsuarioPublicacaoMeuPerfil {
    color: var(--contrast-color);
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
}


.cardUsuarioPublicacaoMeuPerfil__menuOpcoesPublicacaoMeuPerfil {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardUsuarioPublicacaoMeuPerfil__menuOpcoesPublicacaoMeuPerfil:hover {
    width: 40px;
    height: 40px;
    background-color: #dedddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerEditarPublicacao__containerFormulario {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
    gap: 2vh;
}

.cardUsuarioPublicacaoMeuPerfil__menuOpcoesPublicacaoMeuPerfilAtivada {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dedddd;
    border-radius: 10px;
}

.containerDadosPublicacaoMeuPerfil__listaDadosPublicacaoMeuPerfil {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    justify-content: space-between;
    gap: 32px;
}

.containerEditarTags {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    color: var(--contrast-color);
}

.listaDadosPublicacaoMeuPerfil__textoPublicacaoMeuPerfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 50%;
}

.listaDadosPublicacaoMeuPerfil__tituloPublicacaoMeuPerfil {
    color: var(--secundary-color);
    font-size: 1.5rem;
}

.listaDadosPublicacaoMeuPerfil__descricaoPublicacaoMeuPerfil {
    width: 100%;
    height: max-content;
    color: black;
}

.containerDadosPublicacaoMeuPerfil__campoInserirComentario {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.containerFormulario {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.iconeInserirComentario {
    height: 40px;
    width: 40px;
}

.modalOpcoesPublicacaoMeuPerfil {
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.25);
}

.containerTagsEditarPublicacao {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid #C98FEC;
    background: var(--Principal-2, #FCF6FF);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
}

.tagsListEditarPublicacao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow-y: scroll;
}



.opcaoExcluirPublicacaoMeuPerfil {
    width: 100%;
    padding: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.opcaoEditarPublicacaoMeuPerfil {
    width: 100%;
    padding: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.opcaoExcluirPublicacaoMeuPerfil:hover {
    background-color: #dadada;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.opcaoEditarPublicacaoMeuPerfil:hover {
    background-color: #dadada;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.opcaoDenunciarPublicacaoMeuPerfil {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
}

.opcaoDenunciarPublicacaoMeuPerfil:hover {
    background-color: #dadada;
}

.opcaoDenunciar {
    width: 100%;
    padding: 16px;
    cursor: pointer;
}

.opcaoDenunciar:hover {
    background-color: #c2c2c2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.textoDenunciarPublicacaoMeuPerfil {
    color: var(--contrast-color);
}

.listaComentarioMeuPerfil {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}

.textoEditarPublicacaoMeuPerfil {
    color: var(--contrast-color);
}

.opcaoEditar {
    width: 100%;
    padding: 16px;
    cursor: pointer;
}

.opcaoEditar:hover {
    background-color: #c2c2c2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.iconeMenuPublicacao {
    cursor: pointer;
}

.carregandoPublicacao {
    color: var(--contrast-color);
}

.textoExcluirPublicacaoMeuPerfil {
    color: var(--contrast-color);
}

.containerFormulario__iconeSalvarPublicacaoMeuPerfil {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.iconeSalvarPublicacaoMeuPerfil {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--secundary-color);
    border-radius: 10px;
    cursor: pointer;
}

.mensagemComentario{
    color: black;
}

.nomeUsuarioComentario{
    color: black;
}

.responderComentario{
    color: black;
}
