.containerPersonalizarTags {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerPersonalizarTags__formularioPersonalizarTags {
    width: 992px;
    height: 490px;
    background-color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    border-radius: 30px;
}