.picture__input{
    display: none;
}

.picture{
    width: 140px;
    height: 140px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    cursor: pointer;
    border-radius: 50%;
}

.picture__img{
    max-width: 100%;
}
