.comentarioPublicacaoExplorar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comentarioExplorar__containerDados {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.fotoPerfilUsuario {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.responderComentario {
    color: #A09CA2;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
}

.botaoOpcoesComentario {
    display: none;
}

.comentarioPublicacaoExplorar:hover .botaoOpcoesComentario {
    display: initial;
}

.botaoOpcoesComentarioShow {
    display: initial;
}

.tes {
    position: absolute;
    top: -25px;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #A09CA2;
    border-radius: 20px;
    filter: opacity(60%);
}

.modalOpcoesComentario {
    position: fixed;
    z-index: 1001;
    width: 200px;
    background-color: var(--default-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.textoExcluirComentario {
    width: 100%;
    padding: 12px;
}

.textoEditarComentario {
    width: 100%;
    padding: 12px;
}

.textoDenunciarComentario {
    width: 100%;
    padding: 12px;
}

.opcaoExcluirComentario:hover {
    background-color: #A09CA2;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.opcaoEditarComentario:hover {
    width: 100%;
    background-color: #A09CA2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.opcaoDenunciarComentario:hover {
    width: 100%;
    background-color: #A09CA2;
    cursor: pointer;
    border-radius: 20px;
}