.containerAlterarEmail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
    gap: 20vh;
}

.containerAlterarEmail_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 10vh;
}