.modalBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    filter: opacity(80%);
    background-color: #413946;
}

.formularioPublicacaoExplorar {
    position: fixed;
    top: 10%;
    left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 80vh;
    width: 80vw;
    gap: 25px;
    padding-bottom: 50px;
    z-index: 1002;
    background-color: var(--default-color);
}