.formulario{
    width: 30vw;
    height: 120px;
    background-color: var(--input-color);
    color: var(--textInput-color);
    border-radius: 15px;
    border: inherit;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    padding-left: 10px;
    padding: 10px;
}

.formulario_descricao{
    width: 350px;
    height: 180px;
    background-color: var(--input-color);
    color: var(--textInput-color);
    border-radius: 15px;
    border: inherit;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    padding-left: 10px;
    padding: 10px;
}

.description{
    width: 40vw;
    height: 180px;
    background-color: var(--input-color);
    color: var(--textInput-color);
    border-radius: 15px;
    border: inherit;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    padding-left: 10px;
    padding: 10px;
}

textarea{
    resize: none;
}