.formularioPersonalizarTags{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 992px;
    height: 570px;
}

.formularioPersonalizarTags__header{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 1.5vh;
}

.formularioPersonalizarTags__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle{
    width: 50%;
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
}

.tagsList{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.main__tituloFiltros {
    color: var(--contrast-color);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.main__listaFiltros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 0.75rem;
    padding-right: 40px;
}

.tagsGeral {
    cursor: pointer;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms all;
}

.tagsGeral:hover {
    background-color: #666369;
    text-align: center;
    width: 110px;
}

.teste {
    display: none;
}