.formularioPersonalizarTags{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 992px;
    height: 570px;
}

.formularioPersonalizarTags__header{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 1.5vh;
}

.formularioPersonalizarTags__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle{
    width: 50%;
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
}

.listasTags {
    max-height: 30vh;
}

.tagsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    max-height: 14vh;
}

.tagsListaFechada {
    display: none;
}

.tagsListaAberta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    left: 0;
    position: relative;
    top: 50px;
    width: 989px;
    height: 96px;
    background-color: var(--default-color);
    box-shadow: 0px -3px 20px 0px rgba(65, 57, 70, 0.15);
    border-radius: 30px;
}

.containerTagsLista {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    color: var(--contrast-color);
    width: 100%;
    justify-content: center;
}

.listasTags {
    display: flex;

}

.main__tituloFiltros {
    color: var(--contrast-color);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.main__listaFiltros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 0.75rem;
    padding-right: 40px;
}

.tagsGeral {
    cursor: pointer;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms all;
}

.tagsGeral:hover {
    background-color: #666369;
    text-align: center;
    width: 110px;
}

.teste {
    cursor: pointer;
}

.setaEnviarTags {
    cursor: pointer;
}