.marcaRegistrar {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 50vw;
    top: -3%;
}

.marcaRegistrarTransparente {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 55vw;
    left: -1%;
}

.containerRegistrar {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerRegistrar-displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.containerRegistrar__formRegistrar {
    width: 491px;
    height: 506px;
    background-color: var(--default-color);
    filter: drop-shadow(0px 4px 20px rgba(65, 57, 70, 0.25));
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.containerRegistrar__imageRegistrar {
    width: 491px;
    height: 506px;
    background: linear-gradient(180deg, var(--secundary-color) 0%, var(--primary-color) 100%);
    filter: drop-shadow(0px 4px 20px rgba(65, 57, 70, 0.25));
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

@media (max-width: 3000px) {
    .marcaRegistrar {
        left: -3%;
    }

    .marcaRegistrarTransparente {
        left: -5%;
        top: -1%;
    }
}

@media (max-width: 1300px) {
    .marcaRegistrar {
        left: 0%;
        top: -8%;
    }
    
    .marcaRegistrarTransparente {
        top: -4%;
        left: 0%;
    }
}

@media (max-width: 1100px) {
    .marcaRegistrar {
        top: -5%;
    }
    
    .marcaRegistrarTransparente {
        top: -1%;
        left: 0%;
    }
}

@media (max-width: 1000px) {
    .marcaRegistrar {
        top: -0%;
        height: 60vh;
        width: 100vw;
        left: -8%;
     }
 
     .marcaRegistrarTransparente {
         top: 0%;
         height: 64vh;
         width: 100vw;
         left: -5%;
     }

    .containerRegistrar {
        display: flex;
        flex-direction: column;
    }

    .containerRegistrar__imageRegistrar {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .containerRegistrar__formRegistrar {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
}

@media (max-width: 900px) {
    .marcaRegistrar {
       top: -0%;
       height: 60vh;
       width: 100vw;
       left: -9%;
    }

    .marcaRegistrarTransparente {
        top: 0%;
        height: 64vh;
        width: 100vw;
        left: -6%;
    }

    .containerRegistrar {
        display: flex;
        flex-direction: column;
    }

    .containerRegistrar__imageRegistrar {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .containerRegistrar__formRegistrar {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
}

@media (max-width: 800px) {
    .marcaRegistrar {
       height: 70vh;
       left: -6%;
    }
    
    .marcaRegistrarTransparente {
        height: 74vh;
        left: -3%;
    }
}

@media (max-width: 600px) {
    .marcaRegistrar, .marcaRegistrarTransparente {
        display: none;
    }
    .containerRegistrar__formRegistrar  {
        height: 100%;
        width: 100%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .containerRegistrar__imageRegistrar {
        display: none;
    }
    #costureiraRegistrarImagem {
        display: none;
    }
}