.formularioAtualizarPerfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    z-index: 1000;
    gap: 8px;
    align-items: center;
    padding: 16px;
    color: var(--contrast-color);
}

.formularioAtualizarPerfil__editarDescricao {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--input-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
    border: inherit;
    text-align: start;
}

.containerInputs {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.containerInputs__inputListaCidades {
    width: 118px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--input-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
    border: inherit;
    text-align: center;
    padding: 2px;
}

.containerInputs__inputListaEstados {
    width: 118px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--input-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
    border: inherit;
    text-align: center;
    padding: 2px;
}

.containerInputs__labelCidadesInput {
    display: flex;
    flex-direction: column;
}

.containerInputs__labelCidadesInput {
    display: flex;
    flex-direction: column;
}

.formularioAtualizarPerfil__atualizarNome {
    display: flex;
    flex-direction: column;
}

.formularioAtualizarPerfil__atualizarTag {
    display: flex;
    flex-direction: column;
}

.formularioAtualizarPerfil__atualizarDescricao {
    display: flex;
    flex-direction: column;
}

.containerInputs__labelBairroInput {
    display: flex;
    flex-direction: column;
}

.containerInputs__inputListaBairros {
    width: 118px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--input-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
    border: inherit;
    text-align: center;
    padding: 2px;
}