.botaoFormularioGlobal {
    width: 135px;
    height: 35px;
    color: var(--default-color);
    background: linear-gradient(90deg, var(--primary-color), var(--secundary-color));
    line-height: normal;
    border: inherit;
    border-radius: 25px;
}