.containerServicos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
}

.containerServicos__apresentacaoServicos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 16px;
    align-content: center;
}

.apresentacaoServicos__inputPesquisar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
}

.containerServicos__apresentacaoServicos p {
    font-size: 1.5rem;
    color: var(--contrast-color);
    font-weight: 600;
    font-style: normal;
    text-align: center;
    height: fit-content;
}

.containerServicos__cardFoto {
    height: 88px;
    width: 86px;
    background-color: var(--secundary-color);
    border-radius: 20px;
}

.containerServicos__tituloFiltros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerServicos__secaoDeFiltros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secaoDeFiltros__listaDeFiltros {
    display: flex;
    padding-top: 16px;
    gap: 16px;
}

.listaDeFiltros__filtro {
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
    align-items: center;
}

.listaDeFiltros__filtro:hover{
    font-size: 0.7rem;
    color: var(--secundary-color);
}

.containerServicos__secaoDeTags {
    width: 90%;
    max-height: 65%;
    display: flex;
    padding: 16px;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
}

.secaoTags__listaTags {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 24px 32px;
    overflow-y: auto;
    flex-wrap: wrap;
    padding: 16px;
}

.tag{
    width: 220px;
    height: 140px;
    border-radius: 15px;
    border: 2px solid var(--secundary-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem_Tag{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
}

.textoTag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    color: var(--secundary-color);
    padding-left: 10px;
    z-index: 10;
    margin-top: -37px;
    width: 100%;
}
