.menuBarGlobal {
    position: fixed;
    left: 0%;
    z-index: 1000;
    width: 300px;
    height: 100vh;
    background-color: var(--default-color);
    filter: opacity(90);
    filter: drop-shadow(0px -3px 20px rgba(0, 0, 0, 0.15));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    justify-content: space-between;
    gap: 8px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}


.botaoExpandirComprimirAberto {
    height: 40px;
    width: 40px;
    position: relative;
    left: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botaoExpandirComprimirAberto:hover {
    background-color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.25);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--secundary-color);
}

.botaoExpandirComprimirFechado {
    height: 40px;
    width: 40px;
    position: relative;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoExpandirComprimirFechado:hover {
    background-color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.25);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--secundary-color);
}

.menuBarGlobal__ancorasMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 16px;
}

.menuBarGlobalFechado {
    position: fixed;
    left: 0%;
    z-index: 1000;
    width: 60px;
    height: 100vh;
    background-color: var(--default-color);
    filter: drop-shadow(0px -3px 20px rgba(0, 0, 0, 0.15));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
}

.menuBarGlobalFechado:hover {
    border: 1.25px solid var(--secundary-color);
    background-color: #fefdff;
}

.menuBarGlobal__ancorasMenuFechado {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.botaoConfiguracoes {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secundary-color) 100%);
    color: var(--default-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.botaoConfiguracoesFechado {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secundary-color) 100%);
    color: var(--default-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}