.marcaPerfil {
    width: 100%;
    height: 44%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.marcaTransparentePerfil {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.containerPerfil {
    position: relative;
    left: 2%;
    height: 90vh;
    width: 90vw;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    color: var(--default-color);
    padding: 16px;
    gap: 16px;
}

.containerPerfil__containerCardPerfil {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 35%;
    height: 70%;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 16px;
}

.containerPerfil__containerPublicacoes {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 65%;
    max-height: 100%;
    border-radius: 20px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: flex-start;
}

.containerCardPerfil__secaoMeuPerfil {
    z-index: 100;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secaoMeuPerfil__apresentacaoPerfil {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.apresentacaoMeuPerfil__tituloPerfil {
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: var(--default-color);
    font-weight: 600;
    font-style: normal;
}

.secaoMeuPerfil__botoesRecomendacao {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    gap: 16px;
}

.secaoMeuPerfil__descricaoPerfil {
    color: var(--contrast-color);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 310px;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 400;
}

.containerPerfil__containerTags {
    height: 32px;
    width: 100%;
    border: 0.5px solid #D9D7DA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/*Editar Perfil*/

.marcaPerfilEditar {
    width: 100%;
    height: 34%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.marcaTransparentePerfilEditar {
    width: 100%;
    height: 39%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.containerPerfil__containerCardPerfilEditar {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 35%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 16px;
}
