.marcaPerfil {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.marcaTransparentePerfil {
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.containerPerfil {
    position: relative;
    left: 2%;
    height: 90vh;
    width: 90vw;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    color: var(--default-color);
    padding: 16px;
    gap: 16px;
}

.containerPerfil__containerCardPerfil {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 35%;
    height: 70%;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 16px;
}

.containerPerfil__containerPublicacoes {
    height: 100%;
    width: 100%;
}

.containerPublicacoes__secaoPublicacoesPerfil {
    color: var(--default-color);
    width: 100%;
    height: fit-content;
    max-height: 100%;
    border-radius: 20px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: flex-start;
}

.containerCardPerfil__secaoMeuPerfil {
    z-index: 100;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secaoMeuPerfil__apresentacaoPerfil {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.apresentacaoMeuPerfil__tituloPerfil {
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: var(--default-color);
    font-weight: 600;
    font-style: normal;
}

.secaoMeuPerfil__botoesRecomendacao {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    gap: 16px;
}

.secaoMeuPerfil__descricaoPerfil {
    color: var(--contrast-color);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 310px;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 400;
}

.containerPerfil__containerTags {
    height: 32px;
    width: 100%;
    border: 0.5px solid #D9D7DA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/*Editar Perfil*/

.marcaPerfilEditar {
    width: 100%;
    height: 37%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.marcaTransparentePerfilEditar {
    width: 100%;
    height: 42%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.containerPerfil__containerCardPerfilEditar {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 35%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 16px;
}

.carregandoPerfil {
    color: var(--contrast-color);
}

.test {
    color: var(--contrast-color);
}

/**/

.modalBackgroundTagsMeuPerfil {
    position: fixed;
    background-color: var(--contrast-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1300;
    filter: opacity(60%);
}

.containerTagsMeuPerfil {
    position: fixed;
    z-index: 1400;
    left: 25%;
    top: 20%;
    width: 50vw;
    height: fit-content;
    background-color: var(--default-color);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    flex-direction: column;
    padding: 8px;
}

.containerTagsMeuPerfil__listaTagsMeuPerfil {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.iconeFecharMensagem {
    height: fit-content;
    padding: 16px;
}

.formularioAtualizarPerfil__atualizarTags {
    display: flex;
    height: 20%;
    background-color: var(--default-color);
    border-radius: 20px;
    box-shadow: 0px 4px 20px 10px rgba(65, 57, 70, 0.15);
    width: 100%;
    flex-wrap: wrap;

}

.atualizarTags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    overflow-y: scroll;
    gap: 8px;
}