.containerServicosPerfil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
}

.containerServicosPerfil__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 16px;
    align-content: center;
    align-items: center;
}

.pesquisaPerfil{
    display: flex;
    flex-direction: row;
}

.cardFoto{
    height: 88px;
    width: 86px;
    background-color: var(--secundary-color);
    border-radius: 20px;
}

.containerServicosPerfil__main{
    width: 90%;
    max-height: 65%;
    display: flex;
    padding: 16px;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
}

.listaPerfis{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 24px 32px;
    overflow-y: auto;
    flex-wrap: wrap;
    padding: 16px;
}

.tagPerfil{
    width: 360px;
    height: 79px;
    border-radius: 10px;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    gap: 20px;
}

.tagPerfil:hover{
    width: 370px;
    height: 89px;
}

.iconeFiltro{
    cursor: pointer;
}

.botaoVoltar{
    height: 100%;
    width: 70px;
}

.imagemPerfil{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--secundary-color);
}

.nomePerfil{
    font-size: 1.2rem;

}