header {
    padding: 16px;
}

.linkHome__logoHome {
    display: flex;
    align-items: center;
    padding: 16px;
}

.logoHome {
    height: 100px;
    width: 100px;
}

.tituloHome {
    color: var(--default-color);
    font-weight: normal;
}
