.cardPublicacaoMeuPerfil {
    height: 157px;
    width: 120px;
    border-radius: 10px;
    background-color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.10);
}

.cardPublicacaoMeuPerfil__nomeUsuario {
    position: relative;
    top: 120px;
    font-size: 0.5rem;
    color: var(--contrast-color);
    left: 10px;
}

.cardPublicacaoMeuPerfil__tituloPublicacao {
    position: relative;
    color: #8D8890;
    font-size: 0.5rem;
    top: 120px;
    left: 10px;
}

.cardPublicacaoMeuPerfil__containerImagemPublicacao {
    position: relative;
}

.containerImagemPublicacao__imagemFundo {
    height: 109px;
    width: 115px;
    position: absolute;
    top: 0%;
    left: 3px;
}

.containerImagemPublicacao__imagemPublicacao {
    height: 105px;
    width: 115px;
    position: absolute;   
}
