.cardUsuarioMeuPerfil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    gap: 16px;
}

.cardUsuarioMeuPerfil__informacoesMeuPerfil {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.informacoesMeuPerfil__nomePerfil {
    font-size: 1rem;
    font-weight: 600;
    color: var(--default-color);
    font-style: normal;
}

.cardUsuarioMeuPerfil__imagensPerfil {
    position: relative;
    width: 124px;
    height: 100px;
    
}

.imagensPerfil__fotoFundo {
    width: 86px;
    height: 88px;
    position: absolute;
    left: 4px;
    top: 4px;
}

.imagensPerfil__fotoUsuario {
    width: 86px;
    height: 88px;
    position: absolute;
    border-radius: 10px;
    object-fit: cover;
}

.informacoesMeuPerfil__tagPerfil {
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
}

.informacoesMeuPerfil__localizacaoPerfil {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
}

