.formularioRegistrar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formularioRegistrar__containerInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.containerInputs__textoDestacado {
    position: relative;
    color: var(--secundary-color);
    font-size: 0.75rem ;
    cursor: pointer;
    align-self: flex-end;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.formularioRegistrar__separacaoOu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: var(--contrast-color);
}

.separacaoOu__linhaPreta {
    height: 1px;
    width: 146px;
    background-color: var(--contrast-color);
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    width: 300px;
    background-color: var(--default-color);
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 100px;
}

.preto {
    color: black;
    font-size: 0.75rem;
}

.verde {
    color: green;
    font-size: 0.75rem;
}

.vermelho {
    color: red;
    font-size: 0.75rem;
}