font {
    color: var(--secundary-color);
}

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 32px;
}

.containerHome__apresentacao {
    gap: 16px;
    width: 35%;
    color: var(--contrast-color);
}

.containerHome__titulo {
    width: 440px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1.6px;
    line-height: normal;
}

.containerHome__paragrafo {
    font-size: 1.25rem;
}

.containerHome__containerBotoes {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-between;
}

.containerHome__imagemCostureira {
    position: fixed;
    width: 45%;
    top: 30vh;
    left: 55vw;
}

@media (max-width: 1000px) {

    .containerHome__apresentacao {
        width: 100%;
    }

    .containerHome__titulo {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .containerHome__paragrafo {
        font-size: 1.5rem;
        text-align: center;
    }

    .containerHome__imagemCostureira {
        z-index: -1;
        position: fixed;
        width: 80%;
        left: 50%;
        top: 50%;
        filter: opacity(60%);
    }

    .containerHome__containerBotoes {
        width: 45%;
    }
}

@media (max-width: 900px) {
    .containerHome__imagemCostureira {
        z-index: -1;
        position: fixed;
        width: 80%;
        left: 55%;
        top: 50%;
        filter: opacity(60%);
    }
}

@media (max-width: 600px) {

    .containerHome {
        width: 100vw;
        height: 100vh;
        align-items: center;
    }

    .containerHome__apresentacao {
        width: 100%;
    }

    .containerHome__titulo {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .containerHome__paragrafo {
        font-size: 1.5rem;
        text-align: center;
    }

    .containerHome__imagemCostureira {
        z-index: -1;
        position: fixed;
        width: 80%;
        left: 55%;
        top: 60%;
        filter: opacity(60%);
    }

    .containerHome__containerBotoes {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .containerHome__containerBotoes {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}