.formularioLogin {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formularioLogin__containerInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.containerInputs__textoDestacado {
    position: relative;
    color: var(--secundary-color);
    font-size: 0.75rem ;
    cursor: pointer;
    align-self: flex-end;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.formularioLogin__separacaoOu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.separacaoOu__linhaPreta {
    height: 1px;
    width: 146px;
    background-color: var(--contrast-color);
}

.mensagemErro {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    width: 200px;
    height: 40px;
    background-color: var(--default-color);
    border-radius: 5px;
    border: 2px solid var(--secundary-color);
    color: var(--secundary-color);
    font-size: 0.75rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.mensagemDesligada{
   display: none;
}