.containerExplorar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
}

.containerExplorar__tituloEFoto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 16px;
    align-content: center;
}

.containerExplorar__tituloEFoto p {
    font-size: 1.5rem;
    color: var(--contrast-color);
    font-weight: 600;
    font-style: normal;
    text-align: center;
    height: fit-content;
}

.tituloEFoto__cardFoto {
    height: 88px;
    width: 86px;
    background-color: var(--secundary-color);
}

.containerExplorar__secaoPublicacao {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secaoPublicacao__filtroPublicacao {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 8vh;

}

.secaoPublicacao__listaPublicacoes {
    display: flex;
    width: 90%;
    max-height: 60vh;
    padding: 24px;
    gap: 24px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cardTeste {
    position: relative;
    height: 157px;
    width: 120px;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    border-radius: 10px;
}