.containerExplorar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
}

.containerExplorar__tituloEFoto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 16px;
    align-content: center;
}

.containerExplorar__tituloEFoto p {
    font-size: 1.5rem;
    color: var(--contrast-color);
    font-weight: 600;
    font-style: normal;
    text-align: center;
    height: fit-content;
}

.tituloEFoto__cardFoto {
    height: 88px;
    width: 86px;
    background-color: var(--secundary-color);
}

.containerExplorar__secaoPublicacao {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secaoPublicacao__filtroPublicacao {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 8vh;

}

.secaoPublicacao__listaPublicacoes {
    display: flex;
    width: 90%;
    max-height: 60vh;
    padding: 24px;
    gap: 24px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cardPublicacao {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: relative;
    height: 21vh;
    width: 9vw;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    border-radius: 15px;
    cursor: pointer;
}

.container_textos{
    padding-left: 10px;
}

.fotoPublicacao{
    width: 96%;
    height: 13vh;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    box-shadow: 7px 7px #A89BFF;
}

.nomePublicacao{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.descricaoPublicacao{
    font-size: small;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 14em;
    max-height: 14em;
    padding-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.maisPopulares{
    font-size: 1rem;
    cursor: pointer;
}
.recentes{
    font-size: 1rem;
    cursor: pointer;
}

.selected{
    color: #A89BFF;
}