.botaoAlternativo__default {
    display: grid;
    align-content: center;
    text-align: center;
    height: 26px;
    width: 135px;
    cursor: pointer;
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    border-radius: 20px;
    line-height: normal;
}

.botaoAlternativo__primary {
    display: grid;
    align-content: center;
    text-align: center;
    height: 35px;
    width: 135px;
    cursor: pointer;
    border-radius: 25px;
    color: var(--default-color);
    background: linear-gradient(90deg, var(--primary-color), var(--secundary-color));
    line-height: normal;
}

.botaoAlternativo__default:hover {
    
}