html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Kufam';
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --default-color: #FFFFFF;
    --primary-color: #C98FEC;
    --secundary-color: #A89BFF;
    --contrast-color: #413946;
}