.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5vh;
}

.containerConfiguracoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height:80vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
}

.containerConfiguracoes_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.containerConfiguracoes_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 30px;
    padding-top: 50px;
}

.containerExplorar__tituloEFoto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 16px;
    align-content: center;
}

.containerExplorar__tituloEFoto p {
    font-size: 1.5rem;
    color: var(--contrast-color);
    font-weight: 600;
    font-style: normal;
    text-align: center;
    height: fit-content;
}

.tituloEFoto__cardFoto {
    height: 88px;
    width: 86px;
    background-color: var(--secundary-color);
}

.botoesConfiguracao{
    display: flex;
    flex-direction: center;
    justify-content: start;
    align-items: center;
    width: 18vw;
    height: 10vh;
    border-radius: 10px;
    border: solid 2px var(--secundary-color);
    box-shadow: var(--default-shadow);
    cursor: pointer;
    background-color: white;
}

.textos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 7vw;
}

.botoesConfiguracao:hover{
    width: 19vw;
    height: 11vh;
}

.titulo{
    font-size: 1.5rem;
    font-weight: lighter;
    padding-left: 25px;
    color: var(--secundary-color);
    width: 9vw;
}

.titulo_sair{
    font-size: 1.5rem;
    font-weight: lighter;
    padding-left: 25px;
    color: red;
    width: 9vw;
}
.botaoSair{
    display: flex;
    flex-direction: center;
    justify-content: start;
    align-items: center;
    width: 18vw;
    height: 10vh;
    border-radius: 10px;
    border: solid 2px var(--secundary-color);
    box-shadow: var(--default-shadow);
    cursor: pointer;
    background-color: white;
}

.botaoSair:hover{
    width: 19vw;
    height: 11vh;
}