.containerChat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: relative;
    left: 30px;
    border-radius: 20px;
    gap: 25px;
}

.containerChat_header{
    background: var(--Principal-2, #FCF6FF);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.20);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 10vh;
    border-radius: 20px;
}

.containerChat_main{
    width: 45vw;
    height: 60vh;
    background: var(--Principal-2, #FCF6FF);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.20);
    border-radius: 20px;
}

.container_header{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25vw;
    padding-left: 20px;
}

.container_perfil{
    width: 20vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.fotoPerfil{
    height: 5vh;
    width: 3vw;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(168, 155, 255, 0.40);
}

.nomePerfil{
    font-size: 20px;
}

.menu{
    transform: rotate(90deg);
    padding-left: 5px;
}