.containerChat{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--default-color);
    box-shadow: var(--default-shadow);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    gap: 25px;
}

.containerChat_header{
    background: var(--Principal-2, #FCF6FF);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.20);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 10vh;
    border-radius: 20px;
}

.containerChat_main{
    width: 45vw;
    height: 60vh;
    background: var(--Principal-2, #FCF6FF);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.20);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.container_header{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25vw;
    padding-left: 20px;
}

.container_perfil{
    width: 20vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.fotoPerfil{
    height: 5vh;
    width: 3vw;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(168, 155, 255, 0.40);
}

.nomePerfil{
    font-size: 20px;
}

.menu{
    transform: rotate(90deg);
    padding-left: 5px;
}

.containerChat_footer{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    gap: 20px;
}

.inputMensagem{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background: rgba(168, 155, 255, 0.20);
    padding: 10px;
}

.inputMensagem::placeholder{
    color: rgba(65, 57, 70, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.containerMensagens{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 85%;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}

.linhaMensagem_enviada{
    padding-top: 10px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.linhaMensagem_recebida{
    padding-top: 10px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    flex-wrap: wrap;
}

.cardMensagem_enviada{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 1px 10px;
    justify-content: end;
    align-items: flex-end;
    border-radius: 5px;
    background: #413946;
}

.cardMensagem_recebida{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 1px 10px;
    justify-content: end;
    align-items: flex-end;
    border-radius: 5px;
    background: rgba(168, 155, 255, 0.50);
}

.cardMensagem_recebida p{
    color: #413946;
}

.textoCard{
    color: #FCF6FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.horas{
    color: #FCF6FF;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    padding-bottom: 5px;
}

.menu{
    cursor: pointer;
}